# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Eigene  Bilder
img/logo.png

# Editor/IDE specific
.vscode/
.idea/

# PDF-Ausgaben
*.pdf

# Log-Dateien
*.log

# Sensible Daten
data/
verlauf*.json
tools/build_release_zip.py
stunden/

# Temporäre Dateien
*.tmp
old/
rechnung_automation_v*
__pycache__