# Diese Datei muss als .env im Projektroot liegen.
# Benenne sie von sample/.env.sample in .env um, bevor du das Skript ausführst.
# Achtung: Diese Datei darf NICHT ins Git eingecheckt werden (siehe .gitignore)!

# SMTP Einstellungen
MAIL_SERVER=smtp.beispiel.de
MAIL_PORT=587
MAIL_USER=dein@email.de
MAIL_PASS=deinpasswort
